$paragraph-margin-bottom: 0.5rem;
$link-hover-decoration: none;
$enable-rounded: false;
$container-padding-x: 0;
$border-width: 0;

$primary: #ebebeb;
$secondary: #acadae;
$red: #E52A30;
$red-1: #990008;
$red-1: #C10710;
$red-3: #FA4952;
$red-4: #FC7279;

h2 {
    color: $red-1;
}